# Title:  MODSIMPY.PDF
# SAVED IN DESKTOP/ALL_PROJECTS WITH PIPENV

In [2]:
# Bike Share Project

In [7]:
from modsim import *
# modsim is a .py file that has to be in python path

In [8]:
bikeshare = State(olin=10, wellesley=2)

In [9]:
bikeshare.olin #dot notation to checkj

10

In [10]:
bikeshare.wellesley #dot notation to check

2

In [11]:
bikeshare #or just type

olin         10
wellesley     2
dtype: int64

In [12]:
bikeshare.olin -= 1
bikeshare.wellesley += 1 # update values

In [13]:
bikeshare

olin         9
wellesley    3
dtype: int64

In [14]:
def bike_to_wellesley():
    bikeshare.olin -= 1
    bikeshare.wellesley += 1

In [15]:
bike_to_wellesley

In [16]:
def bike_to_olin():
    bikeshare.wellesley -= 1
    bikeshare.olin += 1

In [17]:
bike_to_olin()